# Environments
.env
.venv
env/
venv/
ENV/

# Visual Studio Code
.vscode/

# Dataset
dataset/malicious_phish.csv
classifier/reduced_url_dataset.csv

# Alte fișiere temporare
*.bak
*.swp
*~

# To do list
todo

# Models
classifier/knn
classifier/randomforest